
body {
    background-color: #1f1b29;
    margin: 0;
    
   
  }
  ol,ul{
    list-style: none;
  }

  
  .topnav {
    top: 0%;
    position: fixed;
    margin: 10px;
    border: 2px solid;
    padding: 2em 3em;
    transition: all 0.5s;
    background-color: rgb(35, 5, 53);
    width: 98.5%;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }
  .topnav a {
   
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 16px;
  }

  .con1{
   
    flex: 2;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
  .con2{
   
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
    color: orangered;
    font-family: 'Comforter Brush', cursive;
  }
  .topnav:hover {
    
    margin: 10px;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    border-color: rgb(255, 51, 0);
    transform: translateY(0.25em);
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em red;
  }

  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(230, 35, 9);
    box-shadow: 0 0.5em 0.5em -0.4em red;
    text-decoration: none;

  }
  
  .topnav a.active {
    background-color: #0d0e0d;
    color: orangered;
    font-family: 'Comforter Brush', cursive;
    margin-right: 20px;
  }

  .imgw img{
    width: 28%;
    height: 400px;
    margin: 1.6666%;
    margin-top: 110px;
   
  }
.covimg img{
  width: 96%;
  height: 470px;
  margin: 2%;
  margin-top: 96px;
  transition: all 0.5s;
}
.covimg img:hover{
  width: 95%;
  height: 480px;
  margin: 2.5%;
  margin-top: 110px;
  box-shadow: 0 0.5em 0.5em -0.4em red;
}
.panbody{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.panbody {
  background-color: #250223;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.panel {
  background-color: rgb(59, 5, 83);
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}
.panel img{
  width: 100px;
  height: 100px;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
}
.pricing-plan:last-child {
  border-bottom: none;
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: rgb(114, 80, 80);
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  margin: 50px 0 25px;
  color: #016ff9;
}

.pricing-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #e1f1ff;
}


.pricing-price {
  color: #016ff9; 
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #e23e15;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}










/* score board table */
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: 30px;
  margin-top: 200px;
  color: #e1f1ff;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}




#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e4270f;
  color: white;
}

/* login page */

/* BASIC */



a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  
}
.wrapper .fadeInDown{
  margin: 100px;
}
#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM*/

form{
  color: white;
  width: 100%;
  height: 400px;
  margin: 1.6666%;
  margin-top: 310px;
 
}
/* footer */
.card{
  color: white;
}
.table{
  margin-top: 300px;
  color: orangered;
}
#containerf{
  margin-top: 300px;
}
@media(max-width:768px){

  .con1{
    flex-direction: column;
  }
  .con2{
    flex-direction: column;
  }
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 5px 6px;
    text-decoration: none;
    font-size: 16px;
  }
  .topnav a.active {
    background-color: #0d0e0d;
    color: orangered;
    font-family: 'Comforter Brush', cursive;
    height: 10%;
    margin-right: 20px;
  }
}
@media(min-width:900px){
  .panel{
    flex-direction: row;
   
  }
  .pricing-plan{
    border-bottom: none;
    padding: 200px;
    margin: 200px;
  }

  form{
    color: white;
    width: 80%;
    height: 400px;
    margin: 1.6666%;
    margin-top: 130px;
    margin-left: 100px;
   
  }
  .table{
    margin-top: 140px;
   
  }
}